body{
  background-color:$body-background-color;
}

.footer{
  height: 20%;
  color: #1479A1;
  background-color: #C3E5F4;
  padding: 0px 20px;
  margin-top: 10px;
}

.vertical-center {
  min-height: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
}